* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    color: #222;
}


main {
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}




.btn {
    width: 100%;
    padding: 10px 5px 10px 5px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #433f3f;
    color: whitesmoke;
}

.btn-1 {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: rgba(7, 112, 250, 0.92);
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    color: white;
}

.btn-1:hover {
    background-color: #d01818c8;
}